@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
}

nav {
    width: 100%;
    background-color: rgba(228, 233, 236, 0.5);
    height: 60px;
    border-bottom: 1px solid rgba(177, 175, 175, 0.651);
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    backdrop-filter: blur(10px);
    z-index: 3;
}

#menu-item-1 {
    flex-grow: 1;
}

#menu-item-2 {
    flex-grow: 6;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

header{
    
    width: 100%;
    height: 600px;
    background: linear-gradient(47deg, rgba(197,197,198,1) 0%, rgba(185,185,231,1) 9%, rgba(173,202,255,1) 20%, rgba(217,200,240,1) 34%, rgba(180,255,254,1) 49%, rgba(249,254,255,1) 65%, rgba(203,200,241,1) 76%, rgba(255,156,156,1) 88%, rgba(242,125,159,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

#welcome {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

main {
    min-height: 1200px;
    height: auto;
    width: 100%;
    padding: 0px;
    margin: 0px 0px;
}

#project-box {
    width: 100%;
    min-height: 500px;
    height: auto;
    margin-bottom: 0px;
}

#about-me {
    width: 100%;
    min-height: 600px;
    height: auto;
    margin-top: 0px; 
    text-align: left;
}

#about-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 300px;  
}

#about-container section {
    width: 40%; 
}

#about-image {

    width: 600px;
    height: 500px;
    margin-right: 80px;
    margin-top: 0px;  
}

#about-me p {
    padding-left: 80px; 
    font-size: 14px;
}

#stack {
    display: flex;
    padding-left: 80px;
    column-gap: 40px;
    font-size: 30px;
    text-align: center;   
}

.stack-item span {
    font-size: 23px; 
}

.stack-item:hover {
    transform: scale(1.1);
}



.stack-item img{
    height: 150px;
    width: 150px;
}

h3 {
    padding-left: 80px;
    font-size: 30px;
    font-weight: bolder;
    
}


footer{
    height: 150px;
    width: 100%;
    
    text-align: center;
}

footer h2 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#contact {
    height: 50px;
    column-gap: 200px;
    font-size: 22px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 100px;

}

#contact p {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#contact p img {
    height: 20px;
    width: 20px;
    padding-top: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#me {
   
    height: 300px;
    width: 300px;
    border: solid 3px #a09191;
    border-radius: 50%;
}

.first-letter {
    color:gray;   
}

a:hover {
    color: grey;
}

h1 {
    font-size: 80px;
}

#description {
    font-size: 25px;
    font-weight: bold;
}

#web-dev{
    
    font-weight: bold;
    font-size: 40px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding-left: 80px;
    padding-top: 20px;
    text-align: left;
}

#projects {
    width: auto;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
    padding-left: 80px;
    flex-wrap: wrap;   
}

.project-item {
    height: 300px;
    width: 300px;
    border: solid 1px rgb(190, 190, 190);
    border-radius: 10px;
    z-index: 2; 
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 5px grey;
}

.project-image {
    width: 100%;
    height: 60%;
    border-bottom: solid 1px rgb(190, 190, 190);
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    font-weight: bolder;
    font-size: 20px; 
}


.project-description {
    width: 100%;
    height: 40%;
    text-align: left;  
}

.project-description h4 {
    padding-left: 15px;
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bolder; 
}

.project-description p {
    padding-left: 15px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}

#im1 {
    background-color: #fcfcc3;
    
}

#im2 {
    background-color: #e5fed1;
}

#im3 {
    background-color: #d1effe;
}

#copyright {
    border-top: solid 1px black;
    display: block;
    font-style: italic;
}